<div class="card">
  <div class="card-header py-5">
    <h1 class="pb-4" ><i class="fab fa-github"></i> Github Profile Viewer</h1>
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group">
            <input [(ngModel)]="name" name="name" (keyup)="searchUser()" class="form-control" placeholder="Enter Github username..." />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let user of users" >
      <div [routerLink]="['/profileDetail', user['login']]"> 
        <div class="card my-2">
          <div class="card-body">
              <li class="media my-4">
                  <img class="mr-3" width="50px" height="50px"  src='{{user.avatar_url}}'>
                  <div class="media-body">
                  <p>{{user.name}}</p>
                  <p>@{{user.login}}<span>work at {{user.company}}</span></p>
                  <p class="bio" *ngIf="user.bio">{{user.bio}}</p>
                  </div>
              </li>
          </div>
        </div>
      </div>
    </div>
</div>
  