<div class="container">

    <div class="card">
        <div class="card-header">
            <a href="" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left">Back </span></a>
            <li class="media my-4">
                <img class="mr-3" width="120px" height="120px" src="{{username.avatar_url}}"  >
                <div class="media-body">
                <p>{{username.name}}</p>
                <p>@{{username.login}}</p>
                </div>
            </li>
        </div>
        <div class="card-body">
            <div>
                <h4>Bio</h4>
                <p>{{username.bio}}</p>
            </div>
            <div>
                <h4>Work at</h4>
                <p>{{username.company}}</p>
            </div>
            <div class="row">
                <div class="col-6">
                    <div>
                        <h4>Repository</h4>
                        <p>{{username.public_repos}}</p>
                    </div>  
                </div>
                <div class="col-6">
                    <div>
                        <h4>Followers</h4>
                        <p>{{username.followers}}</p>
                    </div>
                </div>
            </div>
            <div>
                <h4>Pinned Repository</h4>
                <div *ngFor= " let repo of repos">
                    <div class="card card-body my-1">
                        <li class="media">
                            <img class="mr-3" src="{{repo.owner.avatar_url}}"  class="rounded-circle" width="50px" height="50px" >
                            <div class="media-body ml-2">
                            <p>{{repo.full_name}}</p>
                            <p>{{repo.description}}</p>
                            </div>
                        </li>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>